*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/app/build/tmp
/app/build/outputs/logs
/app/build/generated
/app/build/intermediates
.DS_Store
/captures
.externalNativeBuild
.cxx
