<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.birkeland.terminus">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.birkeland.terminus.ViewAllJobsActivity"
            android:label="@string/all_active_jobs"
            />
        <activity android:name="com.birkeland.terminus.ViewAllEventsActivity"
            android:label="@string/all_shifts"/>
        <activity
            android:name="com.birkeland.terminus.ViewEventActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_view_event"/>
        <activity
            android:name="com.birkeland.terminus.CreateSalaryRuleActivity"
            android:label="@string/title_salary_rule"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.birkeland.terminus.CreateJobActivity"
            android:label="@string/title_job"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.birkeland.terminus.CreateEventActivity"
            android:label="@string/title_new_shift"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.birkeland.terminus.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.birkeland.terminus.broadcastReceivers.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="startNotificationService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.birkeland.terminus.broadcastReceivers.AlarmRebootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.birkeland.terminus.NotificationService"
            tools:ignore="ExtraText">
            <intent-filter>
                <action android:name=".NotificationService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>